body {
    margin: 0;
    overflow: hidden;
    background-color: #121212;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
}

.shape {
    width: 100px;
    height: 100px;
    position: relative;
